.body{
    position: relative;
    width: 1024px;
    height: 2312px;

    background: #FFFFFF;
}
.home{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    padding: 5px;
    background: #000;
}

.home a{
    text-decoration: none;
    color: #f5f5f5;
    font-family: Kotta One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

.logo{
    position: absolute;
    width: 50%;
    height: 64px;
    left: 20px;
    top: 40px;
}
.logo a{
    position: absolute;
    text-decoration: none;
    font-family: Kotta One;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 60px;
    text-align: center;

    color: #000000;
}

.menu {
    position: absolute;
    width: 1024px;
    left: 150px;
    top: 60px;
    font-family: Kotta One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #000000;
    text-align: center;

}
.menu a{
    left: 30px;
    text-decoration: none;
    color: #000000;
    padding: 50px;
    padding-left: 50px;
}
.shoppingbag{
    position: absolute;
    left: 1050px;
    right: 0px;
    top: 45px;
}
.shoppingbag img{
    position: absolute;
    width: 37px;
    height: 41px;
    padding-left: 100px;
}

.cover {
    position: absolute;
    width: 900px;
    height: 341px;
    left: 327px;
    top: 138px;
}

.typing h1{
    position: absolute;
    width: 262px;
    height: 61px;
    left: 21px;
    top: 200px;

    font-family: Kotta One;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    text-align: center;

    color: #000000;
}
.typing a{
    position: absolute;
    width: 262px;
    height: 68px;
    left: 21px;
    top: 335px;
    
    font-family: Kotta One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    
    color: #000000;
}

.women{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 504px;

    background: #000000;
}
.women h1{
    font-family: Kotta One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 30px;
    text-align: center;
    margin: 10px;
    color: #FFFFFF;
}
.women_typing{
    position: absolute;
    width: 178px;
    height: 176px;
    left: 41px;
    top: 598px;

    font-family: Kotta One;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 58px;

    color: #000000;
}

.button{
    position: absolute;
    width: 117px;
    height: 36px;
    left: 68px;
    top: 934px;

    background: #C4C4C4;
}
.button a{
    font-family: Kotta One;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    padding: 5px;
    text-decoration: none;
    color: #000000;

}

.foto1 img{
    position: absolute;
    width: 294px;
    height: 427px;
    left: 322px;
    top: 584px;

    background: url(baju2.jpg);
    border-radius: 147px;
}

.foto2 img{
    position: absolute;
    width: 296px;
    height: 427px;
    left: 632px;
    top: 584px;

    background: url(baju1.jpg);
    border-radius: 148px;
}

.foto3 img{
    position: absolute;
    width: 296px;
    height: 427px;
    left: 942px;
    top: 584px;

    background: url(baju3.jpg);
    border-radius: 148px;
}

.men{
    position: absolute;
    width: 100%;
    height: 50px;
    left: -6px;
    top: 1041px;

    background: #000000;
}
.men h1{
    font-family: Kotta One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 30px;
    text-align: center;
    margin: 10px;
    color: #FFFFFF;
}
.men1 img{
    position: absolute;
    width: 289px;
    height: 410px;
    left: 0px;
    top: 1121px;
    background: url(men2.jpg);
}

.men2 img{
    position: absolute;
    width: 286px;
    height: 410px;
    left: 303px;
    top: 1121px;

    background: url(men1.jpg);
}

.men3 img{
    position: absolute;
    width: 286px;
    height: 410px;
    left: 602px;
    top: 1121px;

    background: url(men3.jpg);
}
.men_typing{
    position: absolute;
    width: 110px;
    height: 143px;
    left: 962px;
    top: 1140px;

    font-family: Kotta One;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
}
.button2 {
    position: absolute;
    width: 110px;
    height: 45px;
    left: 992px;
    top: 1396px;
    text-align: center;
    background: #C4C4C4;
}
.button2 a{
    font-family: Kotta One;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    padding: 7px;
    padding-top: 5px;
    text-decoration: none;
    color: #000000;
}

.Kids{
    position: absolute;
    width: 100%;
    height: 50px;
    left: 0px;
    top: 1562px;

    background: #000000;
}
.Kids h1{
    font-family: Kotta One;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 30px;
    text-align: center;
    margin: 10px;
    color: #FFFFFF;
}
.kid1 img{
    position: absolute;
    width: 289px;
    height: 410px;
    left: 26px;
    top: 1642px;

    background: url(kids1.jpg);
}
.kids_typing{
    position: absolute;
    width: 450px;
    height: 205px;
    left: 399px;
    top: 1697px;

    font-family: Kotta One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #000000;
}
.button3{
    position: absolute;
    width: 147px;
    height: 45px;
    left: 553px;
    top: 1930px;
    text-align: center;
    background: #C4C4C4;
}
.button3 a{
    font-family: Kotta One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    color: #000000;
}
.kid2 img{
    position: absolute;
    width: 289px;
    height: 410px;
    left: 950px;
    top: 1642px;

    background: url(kids4.jpg);
}

.footer{
    position: absolute;
    width: 100%;
    height: 40px;
    left: 0px;
    top: 2070px;

    background: #000000;
}