.body{
    position: relative;
    width: 1440px;
    height: 1024px;
}
.home{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    padding: 5px;
    background: #000;
}

.home a{
    text-decoration: none;
    color: #dddddd;
    font-family: Kotta One;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}

.logo{
    position: absolute;
    width: 50%;
    height: 64px;
    left: 20px;
    top: 40px;
}
.logo a{
    position: absolute;
    text-decoration: none;
    font-family: Kotta One;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 60px;
    text-align: center;

    color: #000000;
}

.menu {
    position: absolute;
    width: 100%;
    left: 10px;
    top: 60px;
    font-family: Kotta One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #000000;
    text-align: center;

}
.menu a{
    left: 30px;
    text-decoration: none;
    color: #000000;
    padding: 30px;
    padding-left: 50px;
}
.shoppingbag{
    position: absolute;
    left: 1050px;
    right: 0px;
    top: 45px;
}
.shoppingbag img{
    position: absolute;
    width: 37px;
    height: 41px;
    padding-left: 100px;
}

.kids1 img{
    position: absolute;
    width: 297px;
    height: 387px;
    left: 50px;
    top: 161px;

    background: url(kids1.jpg);
}

.kids2 img{
    position: absolute;
    width: 297px;
    height: 387px;
    left: 297px;
    top: 161px;

    background: url(kids2.jpg);
}

.kids3 img{
    position: absolute;
    width: 297px;
    height: 387px;
    left: 592px;
    top: 161px;
}

.kids4 img{
    position: absolute;
    width: 297px;
    height: 387px;
    left: 50px;
    top: 570px;

    background: url(kids4.jpg);
}

.kids5 img{
    position: absolute;
    width: 297px;
    height: 387px;
    left: 297px;
    top: 570px;

    background: url(kids2.jpg);
}

.kids6 img{
    position: absolute;
    width: 297px;
    height: 387px;
    left: 592px;
    top: 570px;
    background: url(kids5.jpg);
}

.button_Acc{
    position: absolute;
    height: 40px;
    left: 930px;
    top: 530px;
    text-align: center;
    width: 300px;
}

.footer{
    position: absolute;
    width: 100%;
    height: 46px;
    left: 0px;
    top: 1000px;
  
    background: #000000;
}